.leftColumn {
  display: flex;
  flex-direction: column;
  line-height: normal;
  width: 20%;
}

@media (max-width: 991px) {
  .leftColumn {
    width: 30%;
  }
}

.leftColumnContent {
  display: flex;
  flex-direction: column;
  border-right: 2px #d3d3d3;
  overflow-y: auto;
  overflow-x: hidden;
}

@media (max-width: 991px) {
  .leftColumnContent {
    max-width: 100%;
    margin-top: 4px;
  }
}

.categoriesSection {
  display: flex;
  padding-top: 15px;
  flex-grow: 1;
  flex-direction: column;
  font-size: 20px;
  width: 20vw;
  height: 100%;
}

@media (max-width: 991px) {
  .categoriesSection {
    margin-top: 40px;
  }
}

.categoriesTitle {
  font-family: Darker Grotesque, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 100;
}

.categoryList {
  display: flex;
  margin-top: 20px;
  gap: 20px;
  white-space: nowrap;
}

@media (max-width: 991px) {
  .categoryList {
    white-space: initial;
  }
}

.categoryItem {
  font-family: Darker Grotesque, -apple-system, Roboto, Helvetica, sans-serif;
  border-radius: 49px;
  background-color: #f8d5d5;
  justify-content: center;
  padding: 15px 15px;
}

@media (max-width: 991px) {
  .categoryItem {
    white-space: initial;
  }
}

.categoryPlaceholder {
  border-radius: 49px;
  background-color: #f8d5d5;
  width: 167px;
  height: 62px;
}

.seeMoreLink {
  color: #0072a3;
  margin-top: 14px;
  font: 18px Darker Grotesque, -apple-system, Roboto, Helvetica, sans-serif;
}

.configurationTitle {
  font-family: Darker Grotesque, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 100;
  margin-top: 20px;
}

.configurationItem {
  font-family: Darker Grotesque, -apple-system, Roboto, Helvetica, sans-serif;
  border-radius: 49px;
  background-color: #cadee7;
  justify-content: center;
  padding: 15px 15px;
}

.moreConfigurationsText {
  margin-top: 55px;
  font: 40px Darker Grotesque, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 991px) {
  .moreConfigurationsText {
    margin-top: 40px;
  }
}